/** GENERAL ***/
/* MAIL RETURN */
.mail-return h3{margin: 0 !important;}
.mail-return header{padding:2% !important;}
.mail-return p{color:#fff !important;}
.mail-return input{
  color:#636363 !important;
  padding: 1em !important;
  outline: none !important; 
  margin: 0 !important; 
  width: 100% !important; 
  max-width: 100% !important; 
  display: block !important; 
  margin-bottom: 5px !important; 
  font-size: 14px !important; 
  border-width: 1px !important; 
  border-style: solid !important; 
  border-radius: 0 !important; 
  box-sizing: border-box !important; 
  -webkit-appearance: none !important;
}

/*SHIPPING DETAILS*/
.shipping-details .shippingfee{display: flex !important;justify-content: space-between !important;}
.shipping-details h3,h5,p{margin:0 !important;}

/*RECYCLE LIST*/
.recycle-list-data .search{display: flex !important;justify-content: flex-start !important;display: block;}

/*CUSTOMER DETAILS*/
.return-product-data .customerDetails{border: 1px solid #ccd0d4 !important;box-shadow: 0 1px 1px rgba(0,0,0,.04);padding:1em !important;margin-bottom: 1em !important;}
.return-product-data .customerDetails .details{display: flex !important; justify-content: space-between !important;display: block !important;}
.return-product-data .customerDetails .details .general, .billing, .shipping{color:#fff !important;padding:1em !important;}
.return-product-data .customerDetails #setting-error-tgmpa{display: none !important;}

/* LOADER */
#loader, #adminLoader {border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #37b348;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;position: fixed;z-index: 999;overflow: visible;margin: auto;top: 0;left: 0;bottom: 0;right: 0;}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ADMIN PANEL */
/* Dashboard */
.return-all-recycle p.search-box {margin: 5px 0px 10px 0px!important;}
.return-all-recycle .alert {padding: 5px;}
.return-all-recycle .alert-warning {color: #fff !important;background-color: #FD9A24 !important;border-color: #FA8223 !important;}
.return-all-recycle .alert-success {color: #fff !important;background-color: #55b92b !important;border-color: #55b92b!important;}
.return-all-recycle h1.wp-heading-inline {font-weight: 700 !important;}


.return-product-data .customerDetails {border-radius: 0px 70px 0px 70px !important;background-color:#36B348 !important;padding: 15px 75px 30px 75px!important}
.return-product-data .woocommerce-order-data__heading {font-size: 30px !important; color: #fff !important; font-weight: 700 !important; text-align: center !important;}
.return-product-data .customerDetails .details label{color:#fff !important;}

.return-all-recycle .pagination{display: flex !important;  justify-content: space-between !important;}
/* END ADMIN PANEL */
/*SORTING*/
.sortingIcon{
  margin-left: 1em !important;
}
.sortingIcon i:hover{
  cursor: pointer !important;
  color: #337ab7 !important;
}

/*Scrollbar Styling*/
#product-scroll-bar::-webkit-scrollbar {
    width: 10px !important;
}
 
#product-scroll-bar::-webkit-scrollbar-track {
    background-color: #ebebeb !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}

#product-scroll-bar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #6d6d6d !important; 
}
.user-details #customerDetailsTitle{
  font-size:20px !important;
  line-height: 1 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}


/*NEW*/
#bidi-recycle-container{
  margin-top: 3em;
  margin-bottom: 3em;
}
.input-container input[type=text], .input-container input[type=email], input-container select, input-container textarea{
  width: 100%;
  padding: 12px !important;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: #fcfcfc;
}
.input-container select {
    padding: 12px !important;
    height: unset;
}
input::placeholder{font-weight: bold !important;}
input[type=submit] {
  background-color: #80bb42;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {

    width: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow: -19px -20px 43px 20px #89898936;
}
.input-container label{
  font-weight: 600;
}
.margin-top-16{
  margin-top: 16px
}
.margin-top-25{
  margin-top: 25px
}


@media (min-width: 768px) {
.padding-top-60{
  padding-top:60px;
}
.container-form {
  padding:40px;
}
}